h2{
    text-align: center;
    text-underline-position: below;
}
.searchform{
    padding-top: 70px;
}
img{
    margin-left: 38%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 845382dd7acf8410525b2111927aed640ef9e9c5
